[View in Colaboratory](https://colab.research.google.com/github/dxftctcdtc/CodingPractice/blob/master/get_start_with_tensorflow.ipynb)

In [0]:
from __future__ import print_function 
import math
from IPython import display

from matplotlib import pyplot as plt
from matplotlib import cm
from matplotlib import gridspec 

import numpy as np
import pandas as pd
from sklearn import metrics


import tensorflow as tf
from tensorflow.python.data import Dataset
%matplotlib inline

tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_rows = 10
pd.options.display.float_format = '{:.1f}'.format

In [0]:
chd = pd.read_csv("https://dl.google.com/mlcc/mledu-datasets/california_housing_train.csv", sep=",")

In [6]:
chd = chd.reindex(np.random.permutation(chd.index))
chd['median_house_value'] /= 1000.0
chd

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
5365,-118.2,34.0,44.0,647.0,142.0,457.0,143.0,3.7,162.5
12509,-121.6,39.8,37.0,1296.0,296.0,569.0,257.0,1.9,70.5
3336,-117.9,33.6,9.0,6163.0,1004.0,1912.0,903.0,10.8,500.0
9829,-119.7,36.9,15.0,1449.0,277.0,649.0,265.0,2.5,86.3
12148,-121.5,41.0,33.0,2029.0,378.0,936.0,343.0,2.7,77.5
...,...,...,...,...,...,...,...,...,...
10866,-120.8,37.0,15.0,1385.0,288.0,775.0,255.0,1.9,140.6
10699,-120.6,35.1,17.0,2495.0,524.0,1292.0,501.0,2.3,153.0
11099,-121.0,39.2,10.0,1170.0,225.0,537.0,194.0,3.3,163.2
15788,-122.4,37.8,52.0,2479.0,515.0,1816.0,496.0,3.1,300.0
3916,-118.0,34.1,30.0,2775.0,657.0,2847.0,642.0,3.2,141.8